**/.DS_Store
/**/.project
/**/.classpath
/**/.settings/
/**/target
/**/bin
**/bin*/

# Visual Studio Generated
.antlr
.fetch_time_cache
.vs/
.vscode/
.gradle/

#IntelliJ Idea project files
.idea/
*.iml
/**/gen
*.tokens

# Ignore C# regression temporaries.
**/Generated*/
**/Out*/

# Ignore Emacs backup files.
*~
\#*\#

# Ignore downloaded temporaries create by _scripts/get-antlr.ps1
antlr4-*-complete.jar
# Ignore Orsted.WindTurbine.DSL project build artifacts
obj/*
*.csproj.AssemblyReference.cache
*.nuget.dgspec.json
*.nuget.g.props
project.assets.json
project.nuget.cache
*.log
bin/
obj/
*.dll
